*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(5, 5, 37);
    color: bisque;
}

header{
    background-color: rgb(5, 5, 37);
    padding: 20px;
    text-align: center;
}

#navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(22, 7, 73);
}

#title{
    padding: 10%;
}

#navbar > ul > li{
    display: inline-block;
    margin-bottom: 20px;
    padding: 0 5% 0 5%;
}

#navbar > ul > li > a{
    font-size: 30px;
    color: lightgray;
    text-decoration: none;
}

#navbar > ul > li > a:hover{
    color: bisque;
    border: darkgray 1px solid;
}

main{
    width: 60%;
    margin:auto;
}

@media(max-width : 750px){
    main{
        width: 100%;
    }

    #projects{
        flex-direction: column;
    }
}

#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(5, 5, 37);
}

#welcome-section > h1{
    font-size: 70px;
    text-align: center;
    margin: 30px;
}

#welcome-section > p{
    background-color: rgb(5, 5, 37);
    line-height: 3em;
    font-size: 20px;
    margin-bottom: 30px;
}

#projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow:visible;
    background-color: rgb(5, 5, 37);
    box-sizing: content-box;
}

.project-tile{
    padding: 10px 20px 10px 0;
    margin: 30px 0 30px 0;
    width: 45%;
    border-radius: 20px;
    box-shadow: 0 10px 20px white;
    box-sizing: border-box;
}

.project-tile > a{
    display: block;
}

main > p{
    margin: 20px;
    text-align: center;
}

@media(max-width : 750px){
    main{
        width: 100%;
    }

    #projects{
        flex-direction: column;
        padding-left: 25%;
    }

    .project-tile{
        width: 95%;
    }
}

#extra{
    text-align: center;
    margin: 30px 0 30px 0;
}

#extra > li > a{
    color: bisque;
    text-decoration: none;
}

#extra > li > a:hover{
    text-decoration: underline;
    color: beige;
}

#extra > li{
    padding: 10px;
    list-style: none;
}

#extra > p{
    font-size: large;
    margin-bottom: 5%;
}

footer{
    padding: 25px;
    background-color: midnightblue;
}

footer > a {
    display: block;
    padding: 10px;
    color: bisque;
}
